masters-thesis/news_utils/news_utils.egg-info
masters-thesis/news_utils/news_utils/__pycache__
tigercorpus-2.2.conll09.tar.gz
tiger_release_aug07.corrected.16012013.conll09
masters-thesis/train/ynacc/03/my_runs
.Rproj.user
*.bin
*.db
*.pkl
__pycache__
learning/*
.Rhistory
.RData
.ipynb_checkpoints
