Masters-Thesis_Filter.aux
Masters-Thesis_Filter.bbl
Masters-Thesis_Filter.blg
Masters-Thesis_Filter.log
Masters-Thesis_Filter.out
Masters-Thesis_Filter.pdf
Masters-Thesis_Filter.toc

/misc/bibliography.bib.bak

/chapters/*.aux
/chapters/*.log
